/* Overall page syles */

.container {
  width: 960px;
  margin: 0 auto;
  margin-top: 60px;
}

/* Header styles */

.logo {
  background-image: url('../images/ng-instagram.png');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 100px;
  text-indent: -9999px;
  margin-bottom: 30px;
}

/* Form Styles */

.search-form {
  text-align: center;
}

.form-errors {
  padding: 10px 0;
  color: red;
  margin: 0 auto;
}

/* Results styles */

.results-container {
  padding-top: 30px;
  position: relative;
}

.search-results {
  padding-top: 40px;
}

.result-message, .progress-message {
  text-align: center;
}

.photo-result {
  float: left;
  width: 306px;
  height: 306px;
  margin-left: 10px;
}

/* Animations */
.my-show-hide-animation.ng-hide-add,
.my-show-hide-animation.ng-hide-remove {
  -webkit-transition: 5s linear all;
  transition: 5s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
  top: 0;
}
.my-show-hide-animation.ng-hide {
  opacity:0;
  top: 10px;
}

.test-animation {
  height: 100px;
  width: 100px;
  background-color: green;
  color: white;
  text-align: center;
}
