<!DOCTYPE html>
<html lang="en" ng-app="instagramSearcherApp">
<head>
  <meta charset="UTF-8">
  <title>Instagram Searcher</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="InstagramSearchCtrl">
  <div class="container">
    <div class="logo">
      Instagram Searcher
    </div>
    <form class="search-form" name="searchForm" ng-submit="search(keyword); searchSubmitted = true;" novalidate>
      <input type="text" ng-model="keyword" required><input type="submit">
      <div class="form-errors" ng-if="searchForm.$invalid && searchSubmitted">
        C'mon, we both know that can't be blank. Try again.
      </div>
    </form>
    <div class="search-results">
      <div class="progress-message" ng-if="searchSubmitted && searchForm.$valid">
        Checking instagram...
      </div>
      <div class="result-message" ng-if="results">
        We found {{results.length}} results for {{lastKeyword}}.
      </div>
      <div class="results-container ">
        <div class="photo-result my-enter-animation" ng-repeat="result in results">
          <a href="{{result.link}}">
            <img ng-src="{{result.images.low_resolution.url}}" alt="result picture">
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="js/angular.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/app.js"></script>  
</body>
</html>