<!DOCTYPE html>
<html lang="en" ng-app="instagramSearcherApp">
<head>
  <meta charset="UTF-8">
  <title>Instagram Searcher</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="InstagramSearchCtrl">
  <div class="container">
    <div class="logo">
      Instagram Searcher
    </div>
    <form class="search-form" ng-submit="formError = true; search(keyword);">
      <input type="text" ng-model="keyword"><input type="submit">
      <div class="form-errors" ng-if="formError == true">
        C'mon, we both know that can't be blank. Try again.
      </div>
    </form>
    <div class="search-results">
      <div class="progress-message" ng-if="searchInProgress">
        Checking instagram...
      </div>
      <div class="result-message">
        {{resultMessage}}
      </div>
      <div class="results-container">
        <!-- photo results go here -->
        <div class="photo-result" ng-repeat="result in results">
          <a href="{{result.link}}">
            <img ng-src="{{result.images.low_resolution.url}}" alt="result picture">
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="js/angular.js"></script>
  <script src="js/app.js"></script>  
</body>
</html>